@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Varela+Round&display=swap');

* {
    text-align: center;
    font-family: poppins;
}

.pdtcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
}

.price {
    color: grey;
    font-size: 24px;
}

.info {
    font-size: 20px;
}

.card-button {
    width: 100%;
    background-color: #000;
    font: 22px;
    color: white;
    padding: 12px;
    cursor: pointer;
}